@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */

:root {
  --background-normal: #f5f5f5;
  --background-light: #ffffff;
  --background-dark: #e2e2e2;
  --background-darker: #d0d0d0;
  --input: rgba(0, 0, 0, 0.03);
  --button: #f0f0f0;
  --side: #e8e8ef;
  --accent: #3a3a5f;
  --color: #1a1a1a;
  --error-background: #ffebeb;
  --error-color: #d32f2f;
  --warn-background: #fff8e1;
  --warn-color: #ffa726;
  --success-background: #e8f5e9;
  --success-color: #388e3c;
  --info-background: #e3f2fd;
  --info-color: #1976d2;
}

.dark {
  --background-normal: #11151b;
  --background-light: #1e232b;
  --background-dark: #06090d;
  --background-darker: #04070b;
  --input: rgba(255, 255, 255, 0.03);
  --button: #12161b;
  --side: #171d26;
  --accent: #b3b3d1;
  --color: #fefefe;
  --error-background: #1d0c0c;
  --error-color: #f75b5b;
  --warn-background: #2b281f;
  --warn-color: #ffca63;
  --success-background: #112520;
  --success-color: #7ceb9b;
  --info-background: #1b1d2b;
  --info-color: #7cb3eb;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh !important;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

html.bw {
  filter: saturate(0);
  -webkit-filter: saturate(0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  :root {
    --radius: 0.5rem;
  }
}
