
.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 12px;
}
.table-responsive {
  width: -webkit-fill-available;
  background: #12171e;
  border-radius: 14px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.table {
  margin: 0px;
}
.table th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
}

.table > :not(caption) > * > * {
  padding: 0.2rem 0.5rem;
  width: 10%;
}

.table thead tr {
  border: 0px none;
  color: var(--color);
  border-width: 0px !important;
}
.table-bordered > :not(caption) > * > * {
  border: 0px none;
}

.badge {
  background: #171d26;
  padding: 8px 12px;
  border-radius: 500px;
  color: var(--accent);
  font-weight: 500;
  font-size: 18px;
}


.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.nav-buttons a {
  user-select: none;
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: -webkit-fill-available;
  border-radius: 12px;
  padding: 6px 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  -o-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
}

.nav-buttons a:hover,
.h-button.active {
  color: var(--accent) !important;
  background: #171d26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.nav {
  width: -webkit-fill-available;
  max-width: 300px;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: sticky;
  top: 12px;
  padding: 22px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  -o-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
}

.nav-hider {
  display: none;
}

.navbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}

.nav h1 {
  user-select: none;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
}

.content {
  width: -webkit-fill-available;
  background: var(--background-dark);
  border-radius: 28px;
  padding: 24px 32px;
}

.subtitle {
  user-select: none;
  font-size: 24px;
  font-weight: bold;
  margin: 18px 0px;
  color: #ebebeb;
}

.open {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  background: #0a0d12;
  color: #d4d4d4;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  font-family: "Inter";
  font-weight: 700;
  border: 2px solid #0a0d12;
  font-size: 14px;
  border: 2px solid rgb(7, 7, 7);
}
.viewable {
  -webkit-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  -o-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1015px) {
  body {
    padding-left: 12px !important;
  }
  .nav {
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
    display: none;
    background: var(--background);
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .nav-hider.viewable {
    z-index: 2;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 98vw;
    background: rgba(7, 7, 7, 0.2);
  }

  .nav.viewable {
    -webkit-box-shadow: 20px 0px 200px 120px rgb(4 7 11);
    box-shadow: 20px 0px 200px 120px rgb(4 7 11);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 8;
    -webkit-animation: 0.4s slide forwards;
    animation: 0.4s slide forwards;
  }
  .open {
    display: block;
    z-index: 20;
  }
}

@media only screen and (max-width: 690px) {
  .table-responsive {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    gap: 12px;
  }

  .table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .table tr th {
    padding: 0.5rem 0.2rem;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .table {
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (max-width: 440px) {
  .content {
    padding: 16px 22px;
  }
}
