.attr {
  border-collapse: separate;
  border-spacing: 0;
  width: -webkit-fill-available;
}

.attr thead {
  display: none;
}


@media only screen and (max-width: 665px) {
  .attr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
