.calendarGrid {
  display: grid;
  grid-template-columns: 0.2fr 0.3fr 1fr 0.2fr;
  grid-column-gap: 0px;
  padding: 2px;
  background-color: var(--background);
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  -webkit-border-radius: 26px;
}

.calendarElem {
    display: flex;
    padding: 10px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.today {
    opacity: 1 !important;
    background: var(--green) !important;
    color: var(--background-darker) !important;

    font-weight: 700;
}

.holiday {
    opacity: 0.4;
    color: var(--background-darker);
    font-weight: 700;
    background-color: var(--red) !important;
}

.calendar {
    display: flex;
    gap: 18px;
    flex-direction: column;
    min-height: 80vh;
    width: -webkit-fill-available;
    min-width: 60vw;
    padding: 8px;
    padding-top: 18px;
    margin-bottom: 42px;

    background: var(--background-light);
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.calendarElem:nth-child(8n+5),
.calendarElem:nth-child(8n+6),
.calendarElem:nth-child(8n+7),
.calendarElem:nth-child(8n+8) {
    background-color: var(--side-active);
}

.calendarElem {
    border-right: 2px solid var(--background);
    border-bottom: 2px solid var(--background)
}

.calendarElem:nth-child(5)
  {
    border-top-left-radius: 20px;
}
.calendarElem:nth-child(8)  {
    border-top-right-radius: 20px;
}

.calendarElem:last-child
  {
    border-bottom-right-radius: 20px;
}
.calendarElem:nth-last-child(4):not(:first-child)  {
    border-bottom-left-radius: 20px;
}
.calendar:last-child .calendarElem:nth-last-child(-n+4) {
    border-bottom: 0px none !important;
  }