.courseContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 18px 24px;
  border: 16px solid;
  border-radius: 24px;
}
.courseTitle {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
}

.courseName {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card {
  padding: 16px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  height: -webkit-fill-available;
  max-height: max-content;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--buttons);
  border-radius: 16px;
  gap: 32px;

  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.courseName p {
  color: #efefef71;
}

.courseName p span {
  color: var(--color) !important;
}

.card h3 {
  font-size: 16px;
}
.card h4 {
  font-size: 14px;
}
.courseCode {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  flex-direction: column;
  gap: 6px;
}
.courseCode h3 {
  color: var(--accent);
}

.theory {
  background: var(--theory);
}
.lab {
  background: var(--practical);
}

.courseCode h4 {
  padding: 6px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--background-dark);
}
.facultyName h4 {
  color: var(--accent);
  font-size: 16px;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
