/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --background: #0c1015;
  --background-dark: #030609;
  --background-darker: #04070b;
  --background-light: #1b2129;
  --buttons: #11151c;
  --side-active: #171d26;
  --accent: #b3b3d1;
  --theory: #f3d86a;
  --yellow: #ffca63;
  --practical: #70fa70;
  --green: #64f58d;
  --red: #f75b5b;
  --color: #d4d4d4;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.h1,
h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2.5rem;
  }
}

.h2,
h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .h2,
  h2 {
    font-size: 2rem;
  }
}

.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.75rem;
  }
}

.h4,
h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .h4,
  h4 {
    font-size: 1.5rem;
  }
}

.h5,
h5 {
  font-size: 1.25rem;
}

.h6,
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0 solid;
  border-color: inherit;
}

th {
  text-align: center;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--main-font), system-ui, sans-serif;
}
button,
a {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  cursor: pointer;
}
button:active {
  opacity: 0.8;
  -webkit-transform: scale(0.95) rotate(-2deg);
  -ms-transform: scale(0.95) rotate(-2deg);
  transform: scale(0.95) rotate(-2deg);
}
button:hover,
a:hover {
  opacity: 0.9;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

a:active {
  opacity: 0.8;
  -webkit-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}

.download {
  text-decoration: none;
  background: #171d26;
  font-size: 14px;
  color: var(--accent) !important;
  font-weight: 600;
  border: 0px none;
  border-radius: 100px;
  padding: 4px 12px;
}

.react-loading-skeleton {
  --base-color: #0d1116 !important;
  --highlight-color: #495362ee !important;
  --pseudo-element-display: block !important;
  --animation-direction: alternate !important;
  -webkit-animation-timing-function: cubic-bezier(
    0.88,
    -0.8,
    0.58,
    1
  ) !important;
  animation-timing-function: cubic-bezier(0.88, -0.8, 0.58, 1) !important;
}

.react-loading-skeleton:nth-of-type(2n + 1) {
  -webkit-animation-duration: 3s !important;
  animation-duration: 3s !important;
}

.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
div {
  margin-bottom: 0px;

  color: var(--color);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-track:hover {
  background-color: var(--background);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background: var(--background-dark);
  border-radius: 16px;
  border: 6px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  border: 3px solid var(--background-dark);
}

::-webkit-scrollbar-corner {
  background: var(--background-dark);
}

::-webkit-scrollbar-button {
  display: none;
}

html {
  background: var(--background) !important;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background) !important;
  padding: 18px !important;
  margin: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

hr {
  margin: 0px !important;
  border-top: 3px solid var(--side-active) !important;
}

.eyeIcon {
  text-align: right;
  padding-right: 20px;
  position: absolute;
  bottom: 10px;
  right: 0px;
  color: var(--accent);
}
.tt-page {
  width: 100vw;
  height: auto;
}

.head-time span {
  padding: 2px 8px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.current-time {
  background: var(--green);
  color: var(--background-darker);
}

.nav-buttons a:hover,
.h-button.active {
  color: var(--accent) !important;
  background: #171d26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.nav {
  width: -webkit-fill-available;
  max-width: 300px;
  min-width: 200px;
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fill-available;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: sticky;
  top: 12px;
  padding: 22px !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  -o-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  -moz-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  -ms-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  padding-left: 32px !important;
}

.nav-hider {
  display: none;
}

.navbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}

.nav h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title a {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 22px;
  cursor: pointer;
}

.nav-foot {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-foot a {
  color: var(--accent);
  background: var(--side-active);
  padding: 8px 22px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.nav-foot a svg {
  font-size: 20px;
}

.open {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--side-active);
  color: var(--accent);
  border-radius: 20px;
  padding: 8px 16px;
  border: 2px solid var(--accent);
  z-index: 20;
  font-size: 28px;
}

.viewable {
  -webkit-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  -o-transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
  transition: 0.2s cubic-bezier(0.65, 0.35, 0.17, 1);
}

@keyframes slide {
  from {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slideout {
  0% {
    display: flex;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    display: none;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
  }
}

@media only screen and (max-width: 1100px) {
  .nav {
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
    animation: 0.2s slideout forwards;
    background: var(--background);
    top: 0;
    left: 0;
    z-index: 5;
    -webkit-animation: 0.2s slideout forwards;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 98vw;
  }

  .nav-hider.viewable {
    z-index: 2;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 98vw;
    background: rgba(7, 7, 7, 0.2);
  }

  .nav.viewable {
    -webkit-box-shadow: 20px 0px 200px 120px rgb(4 7 11);
    box-shadow: 20px 0px 200px 120px rgb(4 7 11);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 8;
    -webkit-animation: 0.2s slide forwards;
    animation: 0.2s slide forwards;
  }
  .open {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body:has(.viewable) .open {
    color: var(--background-darker) !important;
    background-color: var(--red) !important;
    padding: 2px 12px;
    opacity: 0.5;
    border: 2px solid transparent !important;
  }
}

.back-tt {
  font-size: 18px;
  background: var(--red);
  padding: 8px 12px;
  color: var(--background-dark);
  border-radius: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 0px none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.attTable:active .attCard {
  opacity: 0.2;
}

.attTable:active .attCard:active {
  opacity: 1;
}

@media only screen and (max-width: 766px) {
  .attTable:active .attCard {
    opacity: 1;
  }

  .attTable:active .attCard:active {
    opacity: 1;
  }
}
@media only screen and (max-width: 440px) {
  body {
    padding: 8px !important;
  }
}
