/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main {
  min-height: 94vh;
  height: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -webkit-transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  -o-transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
.hero {
  background-color: var(--background-darker);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  padding: 32px 22px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 28px;
  opacity: 0;

  animation: 0.7s fade forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;

  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -webkit-animation: 0.7s fade forwards;
}

.main li,
.blockquote p {
  margin: 0px;
  color: var(--color);
}

.main li::marker,
.blockquotewarn p,
.main li span {
  color: var(--yellow);
  margin: 0;
}

.features {
  -webkit-animation: 0.7s fade forwards;
  animation: 0.7s fade forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;

  margin-top: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 16px 32px;
}

.features h3 {
  font-size: 24px;
  text-decoration: underline;
  font-family: var(--main-font);
}

.features p {
  color: var(--accent);
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tag p {
  color: rgba(236, 236, 236, 0.74);
  font-weight: 400;
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.tag h1 {
  margin: 0;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}

.book {
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;

  animation: 2s 1s float cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation: 2s 1s float cubic-bezier(0.075, 0.82, 0.165, 1);
}

.blockquotewarn {
  color: var(--yellow) !important;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;

  -webkit-animation: 0.7s fade forwards;

  animation: 0.7s fade forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  opacity: 0;

  background: var(--background-darker);
  padding: 12px 20px;
  border-radius: 50px;
  width: -webkit-fill-available;
  margin: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: fixed;
  width: 58vw;
  bottom: 26px;
  right: 42px;
}

.blockquotewarn svg {
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;

  font-size: 22px;
  min-width: 32px;
}

.blockquotewarn p {
  color: var(--yellow) !important;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.login {
  border: 2px solid transparent;
  background: var(--accent);
  border-radius: 12px;
  padding: 6px 14px;
  color: var(--background);
  font-family: var(--main-font);
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.course {
  background-color: var(--background-dark);
  color: var(--accent);
  border: 1px solid var(--border);
  font-family: var(--main-font);
  border-radius: 12px;
  padding: 6px 14px;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.login:hover,
.course:hover {
  opacity: 0.9;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.login:active,
.course:active {
  opacity: 0.8;
  -webkit-transform: scale(0.95) rotate(-2deg);
  -ms-transform: scale(0.95) rotate(-2deg);
  transform: scale(0.95) rotate(-2deg);
  -moz-transform: scale(0.95) rotate(-2deg);
  -o-transform: scale(0.95) rotate(-2deg);
}

@media only screen and (max-width: 940px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }

  .blockquotewarn {
    position: initial;
    width: initial;
    bottom: initial;
    right: initial;
  }
}

@media only screen and (max-width: 550px) {
  .blockquotewarn svg {
    display: none;
  }

  .blockquotewarn {
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
  }
}

@media only screen and (max-width: 350px) {
  .hero {
    height: 60vh;
  }
}

@-webkit-keyframes float {
  0%,
  100% {
    filter: drop-shadow(5px 12px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 12px 0px rgba(0, 0, 0, 0.6));
  }

  50%,
  85% {
    -webkit-filter: drop-shadow(5px 10px 0px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 10px 0px rgba(0, 0, 0, 0.2));
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
    -webkit-filter: drop-shadow(5px 15px 0px rgba(0, 0, 0, 0.2));
  }
  95%,
  99.5% {
    filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
  }
}

@keyframes float {
  0%,
  100% {
    filter: drop-shadow(5px 12px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 12px 0px rgba(0, 0, 0, 0.6));
  }

  50%,
  85% {
    -webkit-filter: drop-shadow(5px 10px 0px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 10px 0px rgba(0, 0, 0, 0.2));
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
    -webkit-filter: drop-shadow(5px 15px 0px rgba(0, 0, 0, 0.2));
  }
  95%,
  99.5% {
    filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}