/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.loadingRing,
.worm {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.loadingRing {
  -webkit-animation-name: bump;
  animation-name: bump;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
  animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
  width: 8em;
  height: 8em;
}

.circle {
  stroke: var(--background-dark);
  -webkit-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.worm {
  -webkit-animation-name: worm;
  animation-name: worm;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
  animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
}

/* Animations */
@-webkit-keyframes bump {
  from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  44% {
    -webkit-transform: translate(1.33%, 6.75%);
    transform: translate(1.33%, 6.75%);
  }

  53% {
    -webkit-transform: translate(-16.67%, -0.54%);
    transform: translate(-16.67%, -0.54%);
  }

  61% {
    -webkit-transform: translate(3.66%, -2.46%);
    transform: translate(3.66%, -2.46%);
  }

  69% {
    -webkit-transform: translate(-0.59%, 15.27%);
    transform: translate(-0.59%, 15.27%);
  }

  76% {
    -webkit-transform: translate(-1.92%, -4.68%);
    transform: translate(-1.92%, -4.68%);
  }

  83% {
    -webkit-transform: translate(9.38%, 0.96%);
    transform: translate(9.38%, 0.96%);
  }

  90% {
    -webkit-transform: translate(-4.55%, 1.98%);
    transform: translate(-4.55%, 1.98%);
  }
}
@keyframes bump {
  from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  44% {
    -webkit-transform: translate(1.33%, 6.75%);
    transform: translate(1.33%, 6.75%);
  }

  53% {
    -webkit-transform: translate(-16.67%, -0.54%);
    transform: translate(-16.67%, -0.54%);
  }

  61% {
    -webkit-transform: translate(3.66%, -2.46%);
    transform: translate(3.66%, -2.46%);
  }

  69% {
    -webkit-transform: translate(-0.59%, 15.27%);
    transform: translate(-0.59%, 15.27%);
  }

  76% {
    -webkit-transform: translate(-1.92%, -4.68%);
    transform: translate(-1.92%, -4.68%);
  }

  83% {
    -webkit-transform: translate(9.38%, 0.96%);
    transform: translate(9.38%, 0.96%);
  }

  90% {
    -webkit-transform: translate(-4.55%, 1.98%);
    transform: translate(-4.55%, 1.98%);
  }
}

@-webkit-keyframes worm {
  from {
    stroke-dashoffset: 10;
  }

  25% {
    stroke-dashoffset: 295;
  }

  to {
    stroke-dashoffset: 1165;
  }
}

@keyframes worm {
  from {
    stroke-dashoffset: 10;
  }

  25% {
    stroke-dashoffset: 295;
  }

  to {
    stroke-dashoffset: 1165;
  }
}

.loader {
  position: fixed;
  z-index: 120;
  left: 0;
  top: 0;
  padding: 0;
  background: -o-linear-gradient(
    315deg,
    var(--background) 0%,
    var(--background-dark) 100%
  );
  background: linear-gradient(
    135deg,
    var(--background) 0%,
    var(--background-dark) 100%
  );
  height: 100vh;
  width: 100vw;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  gap: 20px;
  padding: 16px;
}

.loadTitle {
  color: var(--accent);
  opacity: 0.8;
  font-weight: 600;
}