/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.pill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-darker);
  padding: 6px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.name {
  text-transform: capitalize;
  font-size: 18px;
}

.pic {
  text-transform: capitalize;
  width: 38px;
  height: 38px;
  color: var(--background-dark);
  background: #64f58d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 12px;

  background: var(--red);
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: 0px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 3px solid transparent;
  padding: 12px 24px;
}
.logout:hover {
  scale: 1 !important;
  transform: scale(1) !important;
  border-top: 3px solid var(--red);
  background-color: #f75b5b1c;
  color: var(--red);
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}

.profileButton {
  width: 52px;
  height: 38px;
  background: var(--side-active);
  color: var(--accent);
  border-radius: 50px;
  outline: none;
  border: 0px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.userData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
  margin-top: 48px;
  max-width: 500px;
  margin-bottom: 38px;
}

.userData div {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 4px;
}

.userData div:nth-of-type(2n + 1) {
  border-right: 2px solid var(--side-active);
}
.userData div p {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
}

.close {
  color: var(--red);
  border: 2px solid var(--red);
  background-color: transparent;
  border-radius: 50px;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 32px;
  top: 32px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.userData div span {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 550px) {
  .userData {
    display: flex;
    flex-direction: column;
  }

  .userData div {
    border-right: none !important;
  }

  .userData div:nth-of-type(2n) {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--side-active) !important;
  }
  .userData div:last-of-type {
    padding-bottom: 0px !important;
    border-bottom: none !important;
  }
}
