/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.theory {
  background: var(--theory);
}

.lab {
  background: var(--practical);
}

.theory,
.lab {
  color: #0a0d12;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  padding: 4px;
  border: 1px solid;
  position: relative;
}

.body {
  background: #0a0d12;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.body td:first-child {
  border-radius: 12px 0 0 12px;
}

.body td:last-child {
  border-radius: 0 12px 12px 0;
}

.body td {
  width: 10%;
  vertical-align: baseline;
  height: 90px;
}

.timeSlot {
  display: none;
}

@media only screen and (max-width: 768px) {
  .timeSlot {
    display: initial;
    font-size: 12px;
    opacity: 0.6;
    position: absolute;
    bottom: 4px;
    right: 6px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: -webkit-fill-available;
  }

  .body td {
    width: initial;
    height: 50px;
  }

  .body td:first-child {
    border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    -ms-border-radius: 12px 12px 0 0;
    -o-border-radius: 12px 12px 0 0;
  }

  .body td:last-child {
    border-radius: 0 0 12px 12px;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    -ms-border-radius: 0 0 12px 12px;
    -o-border-radius: 0 0 12px 12px;
  }

  .body td span {
    width: 100px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align: right;
  }

  .body td {
    padding: 4px 6px;
  }
}
